#navbar.active {
    position: fixed !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: translateY(100%);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

#overlay {
    background-color: rgba(0,0,0,0.6);
    transform: translateX(0%);
    transition: .3s ease;
    display: none;
    opacity: 0;
}

#overlay.show {
    opacity: 1;
    display: block;
}

#sidebar {
    transform: translateX(-100%);
}

#sidebar.show {
    transform: translateX(0%);
}
